{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %}
    {{ meetup_title }}
{% endblock %}

{% block site_css %}
 <link rel="stylesheet" href="{% static 'meetups/styles/meetup-detail.css' %}">
{% endblock %}

{% block main_heading %}
    {{ meetup_title }}
{% endblock %}

{% block body %}
<article>
    <img src="" alt="">
    <section id="location">
        <h2>Meetup Location</h2>
        <address>på denne side bruger vi..<span>LOCATION</span> (ADDRESS).</address>
    </section>
    <section id="Læs mere">
        <h2>Denne side er om...</h2>
        <p>{{ meetup_description }}</p>
        <footer>
            <p>for flere detaljer... <a href="">Kontakt os</a>, men kun seriøse henvendelser</p>
        </footer>
    </section>
    <section id="Registrering">
        <h2>Mød os</h2>
        FORM
    </section>
</article>
{% endblock %}
        
    